MovieTickets\MovieTickets.BLL\bin\Debug*/

MovieTickets/MovieTickets.BLL/bin/Debug/MovieTickets.BLL.dll
MovieTickets/MovieTickets.BLL/bin/Debug/MovieTickets.BLL.dll
MovieTickets/MovieTickets.BLL/bin/Debug/MovieTickets.Entities.pdb